
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update password </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div style="height:250px;">
        <p>Request otp </p>
        <p id="error_msg">{{error}}
        </p>
        <table>
            <form  method="post">
                {% csrf_token %}
            <tr id="label"><td><label for="username"> Enter username : </label></td></tr>
            <tr id="text-input"><td><input type="text" name="username" id="username" placeholder=""></td></tr>
            <tr id="text-input"><td><input id="login"type="submit" value="change password"></td></tr>
        </form>
        </table>
    </div>
</body>
</html>